@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&display=swap');
@import "tailwindcss";

@utility no-scrollbar {
  @apply [scrollbar-width:none] [&::-webkit-scrollbar]:hidden;
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
    --color-primary: #60a5fa;
    --color-bgDark: oklch(80.9% 0.105 251.813);
    --color-bgMiddle: oklch(88.2% 0.059 254.128);
    --color-bgModal: oklch(93.2% 0.032 255.585);
    --color-bgLight: oklch(97% 0.014 254.604);
    --color-tDark: #646A7C;
    --color-tLight: #1D1D1D;

    --color-primaryD: #5696FD;
    --color-bgDarkD: #101014;
    --color-bgMiddleD: #1C1C21;
    --color-bgModalD: #222227;
    --color-bgLightD: #28272D;
    --color-tDarkD: #646A7C;
    --color-tLightD: #E5E7EA;

    --color-red: #FF3B30;
    --color-orange: #FF8F30;
    --color-yellow: #FFE630;
}

* {
    font-family: "Commissioner", sans-serif;
}